* {
  box-sizing: border-box;
}

body {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.maze {
  width: 500px;
  height: 500px;
  margin: 50px auto;
}

.cell {
  /* display: inline-block; */
  float: left;
  border: 1px solid;
}