* {
  box-sizing: border-box;
}

body {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.maze {
  width: 500px;
  height: 500px;
  margin: 50px auto;
  display: table;
}

.cell {
  display: table-cell;
  border: 1px solid;
}