* {
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.maze {
  width: 500px;
  margin: 50px auto;
}

.cell {
  float: left;
  height: 50px;
  border: 1px solid;
  background: whitesmoke;
  text-align: center;
  cursor: pointer;
}

.player {
  margin-top: 10px;
  border: 0;
}